PORT=3000

# MongoDB Atlas
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster-url>/?retryWrites=true&w=majority&appName=AirGuard
MONGODB_DB=airguard

# HiveMQ Cloud
MQTT_URL=mqtts://528b934cc7cf4ce9b490ef6eb8810499.s1.eu.hivemq.cloud:8883
MQTT_USERNAME=2207729
MQTT_PASSWORD=troque_aqui

# Tópico das leituras do AirGuard
MQTT_TOPIC_FILTER=v1/+/+/+/+

# Opcional
API_KEY=