PORT=3000

# MongoDB Atlas
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster-url>/?retryWrites=true&w=majority&appName=AirGuard
MONGODB_DB=airguard

# HiveMQ Cloud
MQTT_URL=seu serviço HIVEMQ
MQTT_USERNAME=SEU USUARIO
MQTT_PASSWORD=troque_aqui

# Tópico das leituras do AirGuard
MQTT_TOPIC_FILTER=v1/+/+/+/+

# Opcional
API_KEY=